Flujos_RN/Flujo2.json
[
    {
        "id": "bcd8f2a1ab09e97c",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c3bb90fdd67eda3b",
        "type": "inject",
        "z": "bcd8f2a1ab09e97c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "topic",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "651c926bb9ef30bb",
                "d55580c0cae348e4"
            ]
        ]
    },
    {
        "id": "d55580c0cae348e4",
        "type": "mqtt out",
        "z": "bcd8f2a1ab09e97c",
        "name": "create message",
        "func": "msg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\nreturn msg;",
        "topic": "timestamp",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "qos": "",
        "retain": "",
        "broker": "c1e4fd583723331d",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "651c926bb9ef30bb",
        "type": "http response",
        "z": "bcd8f2a1ab09e97c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "c1e4fd583723331d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "actividad_02_IoT",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
