Flujos_RN/Flujo_1.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2acf8a52d3cfc6a",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "topic",
        "qos": "",
        "retain": "",
        "broker": "c1e4fd583723331d",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "b88d7c406b8a7539",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/pub/:topic/:payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "c6194b2f1dc3a73c"
            ]
        ]
    },
    {
        "id": "4a3c38977fa89bc0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "create response",
        "func": "msg.payload = {\n    success: true,\n    message: \"published \" +\n    msg.req.params.topic +\n    \"/\" +\n    msg.req.params.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "4aca0323485d7d78"
            ]
        ]
    },
    {
        "id": "c6194b2f1dc3a73c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "create message",
        "func": "msg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "4a3c38977fa89bc0",
                "b2acf8a52d3cfc6a"
            ]
        ]
    },
    {
        "id": "4aca0323485d7d78",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "c1e4fd583723331d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "actividad_02_IoT",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]